.profile__info {
  flex-grow: 2;
  margin: -3px 30px 0;
  max-width: 552px;
}

@media screen and (max-width: 919px) {
  .profile__info {
    flex-grow: unset;
    margin: 0 0 0 30px;
  }
}

@media screen and (max-width: 636px) {
  .profile__info {
    margin: 27px auto 0;
    max-width: 100%;
    text-align: center;
  }
}
