.popup__container {
  display: flex;
  flex-direction: column;
  width: 430px;
  max-width: 60%;
  background-color: #fff;
  border-radius: 10px;
  justify-content: center;
  padding: 34px 36px 36px;
  position: fixed;
  box-sizing: border-box;
}
