@import url('./__avatar/profile__avatar.css');
@import url('./__info/profile__info.css');
@import url('./__name/profile__name.css');
@import url('./__description/profile__description.css');
@import url('./__edit/profile__edit.css');
@import url('./__add/profile__add.css');

.profile {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  color: #fff;
  padding: 0;
  margin: 0 0 52px;
  justify-content: space-between;
}


@media screen and (max-width: 619px) {
  .profile {
    margin: 0 0 36px;
    flex-direction: column;
  }
}
