.profile__edit {
  display: inline-flex;
  width: 24px;
  height: 24px;
  position: relative;
  top: 0px;
  right: -27px;
  background-color: #000;
  background-image: url('../../../images/edit.svg');
  background-position: center;
  background-repeat: no-repeat;
  border: 1px solid #fff;
  box-sizing: border-box;
  opacity: 1;
  transition: opacity .2s ease-in-out;
  cursor: pointer;
}

.profile__edit:hover {
  opacity: .6;
}

@media screen and (max-width: 619px) {
  .profile__edit {
    width: 18px;
    height: 18px;
    background-size: 7px;
    position: absolute;
    top: 7px;
    right: -33px;
  }
}
