.photo-card__group {
  display: grid;
  grid-template-columns: repeat(auto-fit, 282px);
  grid-template-rows: auto;
  grid-gap: 20px 18px;
  justify-content: center;
  align-items: center;
  padding: 0;
  margin: 0;
  list-style-type: none;
}
