.footer__copyright {
  color: #545454;
  font-family: 'Inter', Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  margin: 0;
  padding: 0;
}

@media screen and (max-width: 619px) {
  .footer__copyright {
    font-size: 14px;
    line-height: 17px;
  }
}
