.profile__add {
  margin: 0;
  width: 150px;
  height: 50px;
  background-color: #000;
  background-image: url('../../../images/add.svg');
  background-position: center;
  background-repeat: no-repeat;
  border: 2px solid #fff;
  border-radius: 2px;
  box-sizing: border-box;
  opacity: 1;
  transition: opacity .2s ease-in-out;
  cursor: pointer;
}

.profile__add:hover {
  opacity: .6;
}


@media screen and (max-width: 919px) {
  .profile__add {
    width: 282px;
    background-size: 16px;
  }
}
