.photo-card__delete-button {
  background-image: url(../../../images/trash.svg);
  background-repeat: no-repeat;
  width: 18px;
  height: 20px;
  background-color: transparent;
  position: absolute;
  border: none;
  top: 18px;
  right: 15px;
  opacity: 1;
  transition: opacity .2s ease-in-out;
  cursor: pointer;
}


.photo-card__delete-button:hover {
  opacity: .6;
}
