@import url('./__copyright/footer__copyright.css');

.footer {
  display: grid;
  grid-template-columns: repeat(auto-fill, 282px);
  grid-template-rows: auto;
  grid-gap: 20px 18px;
  justify-content: center;
  align-items: center;
  padding: 0;
  margin: 68px auto 60px;
}


@media screen and (max-width: 919px) {
  .footer {
    max-width: calc(100% - 38px);
  }
}

@media screen and (max-width: 619px) {
  .footer {
    margin: 48px auto 36px;
  }
}
